<!--
  Title: contact-us.component.html
  Author: Nolan Berryhill
  Date: 12/10/2023
  Description: Contact for loan app
-->

<!-- Navigation for contact -->
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon></mat-card-title>

        <br />

      <!-- Address for contact -->
      <mat-card-content class="align-center">
        <p>
          12 Hogwarts LN
        </p>
        <p>
          Not for muggles
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Phone number for contact -->
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Phone: 456-879-4566
        </p>
        <p>
          Email: hogwartmuggles at gmail
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />

<!-- General information -->
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many muggleless locations!!!
  </p>
</div>
