/**
  Title: styles.scss
  Author: Nolan Berryhill
  Date: 12/10/2023
  Description: Styles for Loaner
*/

/**
  Imports items for use
*/
@use '@angular/material' as mat;
@include mat.core();

/**
 Different syntax for material version 17.0.0 and above
*/
$dark-primary: mat.define-palette(mat.$blue-palette);
$dark-accent: mat.define-palette(mat.$green-palette, 400);
$dark-warn: mat.define-palette(mat.$red-palette, 400);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));


@include mat.all-component-themes($dark-theme);



@include mat.all-component-themes($dark-theme);



@include mat.all-component-themes($dark-theme);



@include mat.all-component-themes($dark-theme);

/**
  Height style
*/
html, body {
  height: 100%;
}

/**
  Margin and font-family for body
*/
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
  Color for blue
*/
.blue {
  color: #2196F3;
}

/**
  IColor for green
*/
.green {
  color: #66BB6A;
}

/**
  Text-decoration and color for attribution-link
*/
.attribution-link {
  text-decoration: none;
  color: white;
}

.attribution-link:hover {
  text-decoration: underline;
}

/**
  Text-align and font-size for card-title-icon
*/
.card-title-icon {
  text-align: center;
}

.card-title-icon .mat-icon {
  font-size: 72px;
}

/**
  Text-align for align-center
*/
.align-center {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
