<!--
  Title: about-us.component.html
  Author: Nolan Berryhill
  Date: 12/10/2023
  Description: Index for app loan app
-->

<!-- Header for section -->
<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>

    <h2 style="color:blue">About Us!!!!</h2>

  </mat-toolbar-row>
</mat-toolbar>

<br>

<!-- fxLayout for container -->
<div fxLayout="row wrap">

  <!-- Text information for About Us -->
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-content class="align-center">
        <p>{{ aboutText }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Image for About Us -->
  <div fxFlex>
    <mat-card style="box-shadow: none;">
      <mat-card-content class="align-center">
        <img src="../assets/Loaner.png">
      </mat-card-content>
    </mat-card>
  </div>

</div>

