<!--
  Title: app.component.html
  Author: Nolan Berryhill
  Date: 12/10/2023
  Description: Index for app loan app
-->

<!-- Toolbar for html -->
<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>

    <div style="width: 80%;">
      <!-- Links for toolbar-->
      <div fxLayout="row wrap" fxLAyoutAlign="end start">
        <button mat-button routerLink="/loan-calculator" style="color:green">Loan Calculator</button>
        <button mat-button routerLink="/contact-us" style="color:yellow">Contact US</button>
        <button mat-button routerLink="/about-us" style="color:red">About US</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<!-- Title of assignment -->
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container">
      <mat-card-title style="color:rgb(8, 38, 94)">
        {{ assignment }}
      </mat-card-title>

      <br>
      <br>

      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
