<!--
  Title: loan-calculator.component.html
  Author: Nolan Berryhill
  Date: 12/10/2023
  Description: Calculator for loan app
-->

<!-- Header information -->
<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>

    <h2 style="color:blue">Loan Calculator</h2>

  </mat-toolbar-row>
</mat-toolbar>

<!-- div of loan-calculator -->
<div id="loan-calculator">

  <!-- Input-group information for the calculator -->
  <div class="input-group">
    <label for="loanAmount">Loan Amount:</label>
    <input type="number" id="loanAmount" [(ngModel)]="loanAmount" />
  </div>

  <div class="input-group">
    <label for="interestRate">Interest Rate (%):</label>
    <input type="number" id="interestRate" [(ngModel)]="interestRate" />
  </div>

  <div class="input-group">
    <label for="numberOfYears">Number of Years:</label>
    <input type="number" id="numberOfYears" [(ngModel)]="numberOfYears" />
  </div>

  <!-- Button for input -->
  <button (click)="calculateLoan()" class="input-button">Calculate</button>

  <!-- Results are display from input results -->
  <div class="results" *ngIf="monthlyPayment !== undefined && totalInterestPaid !== undefined">
    <h3>Your Monthly Payment:</h3>
    <p class="result">{{ monthlyPayment | currency:'USD':'symbol':'1.2-2' }}</p>

    <h3>Total Interest Paid:</h3>
    <p class="result">{{ totalInterestPaid | currency:'USD':'symbol':'1.2-2' }}</p>
  </div>
</div>
