/**
  Title: loan-calculator.component.scss
  Author: Nolan Berryhill
  Date: 12/10/2023
  Description: Styles for in n out books
*/

/**
  Position right side for results
*/
.results {
  float: right;
}
