/**
  Title: loan-calculator.component.scss
  Author: Nolan Berryhill
  Date: 12/10/2023
  Description: Styles for loan-calculator
*/


.allInformation {
  border: 3px solid blue;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

/**
  text align and padding for input group
*/
.input-group {
  padding: 20px;
  font-size: 24px;
}

/**
  Width for button
*/
.input-button {
  width: 35%;
  font-size: 24px;
  background-color: blue;
  color: white;
}

/**
  Text-align for results
*/
.allResults {
  border: 3px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}



/**
  Text align for mat-toolbar
*/
.mat-toolbar {
  text-align: center;
}
